h1{
  font: Arial;
  color: #090909;
  text-align: center;
  font-size: 71px;
  margin-bottom: 0;
  margin-top: 24px;
}

button{
    height:20px;
    width:100px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
    border: none;
    font-size: 10px;
}

.board {
  width: 458px;
  height: 460px;
  background-color: black;
  margin: 20px auto;
}

.box {
  width: 150px;
  height: 150px;
  background-color: white;
  display: inline-block;
  margin: 2px auto;
  line-height: 150px;
  font-size: 120px;
  text-align: center;
}
#score-board {
  width: 458px;
  height: 70px;
  background-color: #090909;
  color:white;
  display: inline-block;
  margin: 2px auto;
  line-height: 70px;
  font-size: 45px;
  text-align: center;
}
